<div class="product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

  <div class="product-inner">
    <ul class="product-photos">
      {% if product.images.size > 0 %}
        {% for image in product.images %}
        <li class="product-photo">
          <a data-fancybox="gallery" href="{{ image  | img_url: '2400x' }}" class="lightbox-link" id="{{ image.id }}">
            {% include 'responsive-image', image: image, sizes: "(max-width: 700px) 100vw, 50vw" %}
          </a>
        </li>
        {% endfor %}
      {% endif %}
    </ul>

    <div class="product-details">
      <div class="product-details-inner">
      <div class="product-details-main">

        <h1 itemprop="name">{{ product.title }}</h1>

        <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          {% if product.available %}
          <link itemprop="availability" href="http://schema.org/InStock" />
          {% else %}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          {% endif %}
          <p>
            {% assign variant = product.selected_or_first_available_variant %}
            {% if product.compare_at_price > product.price %}
            <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
            <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
            {% else %}
            <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
            {% endif %}
          </p>
          <div class="line-item-property__field button-size" id="button-size">
          <label>Size</label><br>
          <input required class="required" type="button" name="properties[Size]" value="Small"> 
          <input required class="required" type="button" name="properties[Size]" value="Medium"> 
          <input required class="required" type="button" name="properties[Size]" value="Large"> 
          <input required class="required" type="button" name="properties[Size]" value="Extra Large"> 
          </div>

          <div class="line-item-property__field button-colour" id="button-colour">
            <label>Colour</label><br>
            <input required type="button" name="properties[Colour]" class="colour-select red required" onclick="location.href='#28222426022049';" > 
            <input required type="button" name="properties[Colour]" class="colour-select green required" onclick="location.href='#28222425989281';"> 
            <input required type="button" name="properties[Colour]" class="colour-select blue required" onclick="location.href='#28222426054817';"> 
          </div>
        </div>
      </div><!-- .product-details-main -->
      {% form "product", product %}
        <div id="product-add">
          <select name="id" data-variant-count="{{ product.variants.size}}">
            {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% endfor %}
          </select>
          <button name="submit" id="AddToCart" type="submit" class="button add">Add to Cart</button>
       </div>
      {% endform %}
      <div class="product-details-secondary">
        <div id="product-description" class="rte" itemprop="description">
          {{ product.description }}
        </div>
      </div><!-- .product-details-secondary -->
      </div><!-- .product-details-inner -->
    </div><!-- .product-details -->
  </div><!-- .product-inner -->
</div><!-- .product -->